<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlq.mapper.TbBlogTagsMapper">
  <resultMap id="BaseResultMap" type="com.jlq.pojo.TbBlogTags">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="blogs_id" jdbcType="BIGINT" property="blogsId" />
    <result column="tags_id" jdbcType="BIGINT" property="tagsId" />
  </resultMap>
</mapper>