<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlq.mapper.TbTypeMapper">
  <resultMap id="BaseResultMap" type="com.jlq.pojo.TbType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <collection property="blogs" column="id" ofType="TbBlog"
                javaType="ArrayList" fetchType="lazy" select="com.jlq.mapper.TbBlogMapper.selectByTypeId">
      
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, type_name
  </sql>
  <select id="selectTypesAllPro" resultMap="BaseResultMap">
    SELECT * FROM tb_type
  </select>
  <select id="findByIDPro" parameterType="LONG" resultMap="BaseResultMap">
    SELECT * FROM tb_type where id = #{id}
  </select>
  <select id="listTop" resultMap="BaseResultMap" parameterType="int" >
      SELECT tb_type.id  ,tb_type.type_name
      FROM tb_blog , tb_type    
      where tb_blog.type_id = tb_type.id
      GROUP BY tb_blog.type_id 
      ORDER BY count(1) DESC
      LIMIT #{size}
  </select>

  <insert id="saveAndFlush" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
          parameterType="TbType" >
    insert INTO tb_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="typeName!=null">type_name,</if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id},</if>
      <if test="typeName!=null">#{typeName},</if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <trim suffixOverrides=",">
      <if test="typeName!=null">type_name=#{typeName},</if>
    </trim>
  </insert>
</mapper>